<h2 mat-dialog-title>Mi Perfil</h2>
<mat-dialog-content>
    <form [formGroup]='perfilForm'>
        <mat-form-field class='input' appearance="fill" class="input">
            <mat-label>Nombres</mat-label>
            <input matInput formControlName='nombres'>
            <mat-error *ngIf="nombresNoValido"> {{ getErrorNombresMessage() }} </mat-error>
        </mat-form-field>
        <mat-form-field class='input' appearance="fill" class="input">
            <mat-label>Apellidos</mat-label>
            <input matInput formControlName='apellidos'>
            <mat-error *ngIf="apellidosNoValido"> {{ getErrorApellidosMessage() }} </mat-error>
        </mat-form-field>
        <mat-form-field class='input' appearance="fill" class="input">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName='direccion'>
            <mat-error *ngIf="direccionNoValido"> {{ getErrorDireccionMessage() }} </mat-error>
        </mat-form-field>
        <mat-form-field class='input' appearance="fill" class="input">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName='telefono'>
            <mat-error *ngIf="telefonoNoValido"> {{ getErrorTelefonoMessage() }} </mat-error>
        </mat-form-field>
        <mat-form-field class='input' appearance="fill" class="input">
            <mat-label>Estado Civil</mat-label>
            <!-- <input matInput formControlName='estadoCivil'> -->
            <mat-select formControlName='estadoCivil'>
                <mat-option value="Casado/a">Casado/a</mat-option>
                <mat-option value="Viudo/a">Viudo/a</mat-option>
                <mat-option value="Divorciado/a">Divorciado/a</mat-option>
                <mat-option value="Soltero/a">Soltero/a</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class='input' appearance="fill" class="input">
            <mat-label>Género</mat-label>
            <!-- <input matInput formControlName='genero'> -->
            <mat-select formControlName='genero'>
                <mat-option value="Femenino">Femenino</mat-option>
                <mat-option value="Masculino">Masculino</mat-option>
                <mat-option value="Masculino">Arely</mat-option>
                <mat-option value="Prefiero no decirlo">Prefiero no decirlo</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
    <button mat-button *ngIf="habilitarEditar" (click)="editarFormulario()" color='primary' cdkFocusInitial>Editar</button>
    <button mat-button *ngIf="!habilitarEditar" [disabled]='perfilForm.invalid' (click)="actualizarFormulario()" color='primary' cdkFocusInitial>Guardar</button>
</mat-dialog-actions>