<div style="position: relative;">
    <mat-horizontal-stepper>
        <mat-step label="General" state="phone">
            <mat-card class="mat-step">
                <form [formGroup]="rolForm">
                    <mat-form-field class="col">
                        <mat-label>ID</mat-label>
                        <input matInput formControlName='id' placeholder="ID Rol" readonly>
                    </mat-form-field>
                    <mat-form-field class="col">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName='nombre' placeholder="Nombre Rol">
                        <mat-error *ngIf="nombreNoValido">{{ getErrorNombreMessage() }}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col">
                        <mat-label>Descripción</mat-label>
                        <input matInput formControlName='descripcion' placeholder="Descripción Rol">
                        <mat-error *ngIf="descripcionNoValido">{{ getErrorDescripcionMessage() }}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col">
                        <mat-label>Departamento</mat-label>
                        <input matInput formControlName='departamento' placeholder="Buscar" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let option of filteredDepartamentos | async" [value]="option">
                                {{option.nombre}}
                            </mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="descripcionNoValido">{{ getErrorDescripcionMessage() }}</mat-error>
                    </mat-form-field>
                </form>
            </mat-card>
            <div style="position: relative; margin-top: 10px;">
                <button mat-button type="button" matStepperNext>Siguiente</button>
            </div>
        </mat-step>
        <mat-step label="Permisos" state="chat">
            <mat-card class="mat-step">
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let item of permisosPorPanel">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{ item.panel.name }}
                            </mat-panel-title>
                            <mat-panel-description>
                                {{ item.panel.descripcion }}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <!-- <mat-slide-toggle [disabled]="disableToggles" (toggleChange)="habilitarPermiso(1)" [checked]="toggles[0]" class="list">Panel de roles</mat-slide-toggle> -->
                        <div *ngFor="let permiso of item.permisos">
                            <mat-slide-toggle [disabled]="disableToggles" (toggleChange)="habilitarPermiso(permiso.id)" [checked]="permisos.indexOf(permiso.id) > -1" class="list">{{ permiso.descripcion }}</mat-slide-toggle>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card>
            <div style="margin-top: 10px; position: relative;">
                <button mat-button type="button" matStepperPrevious>Regresar</button>
                <button mat-button type="button" *ngIf="enableEdit" [disabled]="rolForm.invalid" (click)="enviar()" matStepperNext>Enviar</button>
            </div>
        </mat-step>

        <!-- Icon overrides. -->
        <ng-template matStepperIcon="phone">
            <mat-icon>edit</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="chat">
            <mat-icon>shield</mat-icon>
        </ng-template>
    </mat-horizontal-stepper>
    <div style="display: block;">
        <button mat-mini-fab color="primary" type="button" (click)="editar()" *ngIf="!enableEdit" style="position: absolute; right: 60px; bottom: 10px;">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn" type="button" (click)="cerrarDialogo()" *ngIf="!enableEdit" style="position: absolute; right: 10px; bottom: 10px;">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>