<form [formGroup]="formGroup">
  <div class="access-container">
    <div class="left-container">
      <mat-form-field appearance="fill">
        <mat-label>Ingresa sus nivelEstudios</mat-label>
        <input matInput placeholder="Vilma Juana" formControlName="nivelEstudios" required tabindex="1">
        <mat-error *ngIf="nivelEstudiosControl.invalid">{{getErrorMessage(nivelEstudiosControl)}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ingresa su salario de SLA</mat-label>
        <input matInput placeholder="example@sla.sv" formControlName="salario" required tabindex="3">
        <mat-error *ngIf="salarioControl.invalid">{{getErrorMessage(salarioControl)}}</mat-error>
      </mat-form-field>
    </div>
    <div class="right-container">
      <mat-form-field appearance="fill">
        <mat-label>Ingresa sus fechaInicio</mat-label>
        <input matInput placeholder="Aparicio Martínez" formControlName="fechaInicio" required tabindex="2">
        <mat-error *ngIf="fechaInicioControl.invalid">{{getErrorMessage(fechaInicioControl)}}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <!-- <mat-form-field appearance="fill">
    <mat-label>Contrasena</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="nivelEstudiosControl" required>
    <mat-error *ngIf="nivelEstudiosControl.invalid">{{getErrorMessage(nivelEstudiosControl)}}</mat-error>
  </mat-form-field> -->
</form>
