.card {
    margin: 10px;
    padding-bottom: 0px;
}

.example-stepper {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

.subtitle {
    font-weight: bold;
}

.button {
    margin-top: 10px;
    margin-right: 10px;
}

.col {
    width: 100%;
}

.gridList {
    padding: 10px;
}

.layoutImage {
    margin: 5px;
}

.demo-table {
    width: 100%;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}

.imagen-view {
    max-height: auto;
    max-width: 25%;
}