<mat-card class="card">
    <button mat-flat-button color="primary" type="button" (click)="editar()"><mat-icon>edit</mat-icon> Editar</button>
    <mat-horizontal-stepper #stepper>
        <!--Formulario General-->
        <mat-step [stepControl]="generalForm" label="General" errorMessage="Datos no válidos" class="stepTab">
            <mat-card class="card">
                <h3 class="subtitle">Descripción General</h3>
                <mat-divider></mat-divider>
                <form [formGroup]="generalForm">
                    <mat-form-field class="col">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Nombre Producto" formControlName="nombre">
                        <mat-error *ngIf="nombreNoValido">{{ getErrorNombreMessage() }}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col">
                        <mat-label>Descripción</mat-label>
                        <textarea matInput placeholder="Descripción Producto" formControlName="descripcion" cols="30" rows="1"></textarea>
                        <mat-error *ngIf="descripcionNoValido">{{ getErrorDescripcionMessage() }}</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col" floatLabel="always">
                        <mat-label>Precio</mat-label>
                        <input matInput type="number" class="example-right-align" placeholder="0.00" formControlName="precio">
                        <span matPrefix>$&nbsp;</span>
                    </mat-form-field>
                    <mat-form-field class="col">
                        <mat-label>Categoría</mat-label>
                        <mat-chip-list #chipList aria-label="Seleccion categoria">
                            <mat-chip *ngFor="let categoria of categorias" [selectable]="selectable" [removable]="removable" (removed)="quitarCategoria()">
                                {{ categoria }}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            <input [matChipInputFor]="chipList" [matChipInputAddOnBlur]="addOnBlur" disabled>
                            <mat-error *ngIf="categoriaNoValido">{{ getErrorCategoriaMessage() }}</mat-error>
                        </mat-chip-list>
                    </mat-form-field>
                    <div>
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
                            <!-- ID Column -->
                            <ng-container matColumnDef="ID">
                                <th mat-header-cell *matHeaderCellDef>ID</th>
                                <td mat-cell *matCellDef="let element">{{element.id}}</td>
                            </ng-container>

                            <!-- Nombre Column -->
                            <ng-container matColumnDef="Nombre">
                                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                                <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
                            </ng-container>

                            <!-- Descripción Column -->
                            <ng-container matColumnDef="Descripción">
                                <th mat-header-cell *matHeaderCellDef>Descripción</th>
                                <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row (click)="seleccionarCategoria(row)" [class.demo-row-is-clicked]="filasSeleccionadas.has(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <app-paginator [urlData]="url"></app-paginator>
                    </div>
                </form>
            </mat-card>
            <mat-divider></mat-divider>
            <div>
                <button type="button" mat-stroked-button matStepperNext class="button">Siguiente</button>
            </div>
        </mat-step>
        <!--Formulario Diseño-->
        <mat-step [stepControl]="designForm" label="Diseño" errorMessage="Debe insertar una imagen">
            <mat-card class="card">
                <h3 class="subtitle">Imágenes</h3>
                <mat-divider></mat-divider>
                <form [formGroup]="designForm">
                    <mat-form-field appearance="outline">
                        <ngx-mat-file-input formControlName="fileInput" (change)="cargarImagen()"></ngx-mat-file-input>
                        <mat-error *ngIf="imagenNoValido">{{ getErrorImagenMessage() }}</mat-error>
                    </mat-form-field>
                </form>
                <mat-divider></mat-divider>
                <div style="margin: 10px;">
                    <img loading="lazy" *ngIf="imgUrl !== ''" [src]="imgUrl" alt="" class="imagen-view">
                    <h4 *ngIf="imgUrl === ''" style="margin-bottom: 10px; text-align: center;">No hay imagen</h4>
                </div>
            </mat-card>
            <mat-divider></mat-divider>
            <div>
                <button type="button" mat-stroked-button matStepperPrevious class="button">Regresar</button>
                <button type="button" mat-stroked-button matStepperNext class="button">Siguiente</button>
            </div>
        </mat-step>
        <!--Formulario Inventario-->
        <mat-step [stepControl]="inventarioForm" label="Inventario" errorMessage="Datos no válidos">
            <mat-card class="card">
                <h3 class="subtitle">Inventario</h3>
                <mat-divider></mat-divider>
                <form [formGroup]="inventarioForm">
                    <mat-form-field class="col">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="estado">
                            <mat-option value="0">Sin Stock</mat-option>
                            <mat-option value="1">En Stock</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col">
                        <mat-label>Cantidad Disponible</mat-label>
                        <input matInput type="number" placeholder="Ej. 12" formControlName="cantidad" min="10">
                        <span matSuffix>Unidades</span>
                        <mat-error *ngIf="fontSizeControl.invalid">Min size: 0 unidades</mat-error>
                    </mat-form-field>
                    <!-- <mat-form-field class="col">
                        <mat-label>Unidad de Conteo</mat-label>
                        <mat-select formControlName="unidad">
                            <mat-option value="Items">Items</mat-option>
                            <mat-option value="Piezas">Piezas</mat-option>
                            <mat-option value="Kits">Kits</mat-option>
                            <mat-option value="Kilogramos">Kilogramos</mat-option>
                            <mat-option value="Metro">Metro</mat-option>
                        </mat-select>
                    </mat-form-field> -->
                </form>
            </mat-card>
            <mat-divider></mat-divider>
            <div>
                <button type="button" mat-stroked-button matStepperPrevious class="button">Regresar</button>
                <button type="submit" mat-stroked-button (click)="enviar()" class="button">Enviar</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</mat-card>