<div class="header">
    <h1 color="primary">Roles</h1>
</div>
<button mat-button color="primary" (click)="crearRol()" type="button" style="margin: 10px;">
    <mat-icon>add</mat-icon> Crear
</button>
<mat-card>
    <mat-table [dataSource]="dataSource">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>

        <!-- Departamento Column -->
        <ng-container matColumnDef="departamento">
            <mat-header-cell *matHeaderCellDef>Departamento</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">{{ element.id_departamento }}</mat-cell>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">
                <button (click)="verRol(element)" type="button" style="margin-right: 5px; cursor: pointer;" mat-icon-button color="primary" aria-label="delete_icon">
                  <mat-icon>visibility</mat-icon>
                </button>
                <button (click)="eliminarRol(element.id)" type="button" style="margin-right: 5px; cursor: pointer;" mat-icon-button color="primary" aria-label="delete_icon">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row [class.demo-row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <app-paginator [urlData]="url" (pageDataChange$)="addDataToTable($event)"></app-paginator>
</mat-card>