<mat-expansion-panel #panelForm class="mat-elevation-z0">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{panelTitle}}
    </mat-panel-title>
  </mat-expansion-panel-header>
<div #formProducto><app-form-producto (insertarProducto)="eventoInsertarNuevoProducto($event)"></app-form-producto></div>
</mat-expansion-panel>
<div class="header">
  <h1>Productos Disponibles</h1>
</div>
<mat-card>
    <app-table-producto (clickTabla)="scroll(formProducto, $event)"></app-table-producto>
</mat-card>
