<mat-card class="card-step">
    <h3 class="subtitle">Inventario</h3>
    <mat-divider></mat-divider>
    <form [formGroup]="inventarioForm">
        <mat-form-field class="col">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado">
                <mat-option value="0">Sin Stock</mat-option>
                <mat-option value="1">En Stock</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col">
            <mat-label>Cantidad Disponible</mat-label>
            <input matInput type="number" placeholder="Ej. 12" formControlName="cantidad" min="10">
            <span matSuffix>Unidades</span>
            <mat-error *ngIf="fontSizeControl.invalid">Min size: 0 unidades</mat-error>
        </mat-form-field>
    </form>
</mat-card>
<mat-divider></mat-divider>
<div>
    <button type="button" mat-stroked-button matStepperPrevious class="button">Regresar</button>
    <button mat-flat-button style="margin-right: 10px;" [disabled]='inventarioForm.invalid' (click)="submitInventarioForm()" color="primary" type="button"><mat-icon>save</mat-icon> Guardar</button>
</div>
