<ng-template #formPago>
    <mat-dialog-content>
        <mat-horizontal-stepper>
            <mat-step #first_step label="Datos de Envío">
                <ng-container>
                    <form>
                        <h3>Dirección</h3>
                        <mat-form-field appearance="fill" class="input">
                            <mat-label>Departamento</mat-label>
                            <mat-select>
                                <mat-option *ngFor="let item of departamentos" [value]="item"> {{ item }} </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                    <button mat-button matStepperNext>Next</button>
                </ng-container>
            </mat-step>
            <mat-step #second_step>
                <ng-container>
                    <p>This content was also rendered lazily</p>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </ng-container>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button>Cerrar</button>
        <button mat-button mat-stroked-button color="primary">Confirmar</button>
    </mat-dialog-actions>
</ng-template>
