<mat-table [dataSource]="dataSource" class="table-product">

  <!-- Columna ID -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let categoria"> {{categoria.id}} </mat-cell>
  </ng-container>

    <!-- Columna de nombres -->
  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let categoria"> {{categoria.nombre}} </mat-cell>
  </ng-container>

    <!-- Cplumna de descripciones -->
  <ng-container matColumnDef="descripcion">
    <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
    <mat-cell *matCellDef="let categoria"> {{categoria.descripcion}} </mat-cell>
  </ng-container>

    <!-- Botones de acciones -->
  <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let categoria">
      <button mat-icon-button color="primary" (click)="updateEvent.emit(categoria.id)"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button color="primary" (click)="deleteEvent.emit(categoria)"><mat-icon>delete</mat-icon></button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnas;" matRipple></mat-row>
</mat-table>
