<a [routerLink]="['/','detalle',product.id]">
  <mat-card [matTooltip]="product.descripcion_producto">
    <mat-card-header>
      <mat-card-title>{{product.nombre_producto}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <img [src]="product.imagen" [style]="{'width':'200px'}">
      <mat-list>
        <mat-list-item>${{product.precio}} x {{quantity}} = {{totalRow}}</mat-list-item>
        <mat-list-item>{{product.cantidad}} disponibles</mat-list-item>
        <mat-list-item>{{product.calificacion_promedio}} estrellas</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</a>
