.card {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    width: 40%;
}

.button {
    margin-bottom: 10px;
}

.title {
    font-weight: bold;
}

.subtitle {
    margin-top: -20px;
}

.subtitle2 {
    font-weight: bold;
    margin-bottom: 0px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    padding: 6px 12px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.input {
    width: 100%;
}

.row {
    display: flex;
}

.col {
    width: 50%;
    margin-right: 10px;
}

.example-container {
    margin: 10px;
    text-align: center;
}

@media (max-width: 1000px) {
    .card {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (max-width: 700px) {
    .card {
        width: 80%;
        margin-left: 5%;
        margin-right: 5%;
    }
}