<mat-card class="card animate__animated animate__fadeInRight animate__faster">
    <form class="example-container" [formGroup]="signupForm" (ngSubmit)="enviar()">
        <h1 class="title">REGISTRARSE</h1>
        <h5 class="subtitle">Empresarial</h5>
        <mat-divider></mat-divider>
        <br>
        <!--Campo para Nombre Empresa-->
        <mat-form-field appearance="outline" class="input">
            <mat-label>Nombre Empresa</mat-label>
            <input matInput formControlName="nombre">
            <mat-error *ngIf="nombreNoValido">{{ getErrorNombreMessage() }}</mat-error>
        </mat-form-field>
        <!--Campo para Email-->
        <mat-form-field appearance="outline" class="input">
            <mat-label>Ingrese su email</mat-label>
            <input matInput placeholder="alguien@example.com" formControlName="email">
            <mat-error *ngIf="emailNoValido">{{ getErrorEmailMessage() }}</mat-error>
        </mat-form-field>
    </form>
    <!-- NIT Frontal -->
    <mat-divider></mat-divider>
    <h3 class="subtitle2">Imagen NIT Frontal</h3>
    <!-- Este iframe es para evitar la actualización de la página -->
    <iframe name="imagenFrontal" style="display:none;"></iframe>
    <form style="text-align: center;" method="POST" enctype="multipart/form-data" target="imagenFrontal">
        <label for="file-upload-frontal" class="custom-file-upload">
            {{ nombreArchivoFrontal }}
        </label>
        <input id="file-upload-frontal" name="uploaded_file" type="file" accept="image/png, image/jpeg" (change)="cambioImagenFrontal($event)" [disabled]="!deshabilitarImagen" />
        <h5 class="subtitle" *ngIf="imgFrontalNoValido" style="color: red;">{{ getErrorFrontalImageMessage() }}</h5>
    </form>
    <div style="margin: 10px; position: relative;">
        <div *ngIf="cargandoImagenFrontal" style="margin-bottom: 10px; margin-left: 45.5%; display: block;">
            <mat-spinner [strokeWidth]=5 [diameter]=70></mat-spinner>
        </div>
        <img *ngIf="imgFrontalUrl !== '' && !cargandoImagenFrontal" [src]="imgFrontalUrl" alt="Imagen Producto" class="imagen-view" accept="image/jpeg,image/png,image/jpg">
        <div>
            <button type="button" (click)="quitarImagenFrontal()" mat-icon-button style="position: absolute; top: 10px; right: 10px;">
                <mat-icon *ngIf="imgFrontalUrl !== '' && !cargandoImagenFrontal" style="cursor: pointer; color: rgb(220,53,69);">delete</mat-icon>
            </button>
        </div>
        <h4 *ngIf="imgFrontalUrl === '' && !cargandoImagenFrontal" style="margin-bottom: 10px; text-align: center;">{{ textoImagen }}</h4>
    </div>
    <!-- NIT Reverso -->
    <mat-divider></mat-divider>
    <h3 class="subtitle2">Imagen NIT Reverso</h3>
    <!-- Este iframe es para evitar la actualización de la página -->
    <iframe name="imagenReverso" style="display:none;"></iframe>
    <form style="text-align: center;" method="POST" enctype="multipart/form-data" target="imagenReverso">
        <label for="file-upload" class="custom-file-upload">
            {{ nombreArchivoReverso }}
        </label>
        <input id="file-upload" name="uploaded_file" type="file" accept="image/png, image/jpeg" (change)="cambioImagenReverso($event)" [disabled]="!deshabilitarImagen" />
        <h5 class="subtitle" *ngIf="imgReversoNoValido" style="color: red;">{{ getErrorReversoImageMessage() }}</h5>
    </form>
    <div style="margin: 10px; position: relative;">
        <div *ngIf="cargandoImagenReverso" style="margin-bottom: 10px; margin-left: 45.5%; display: block;">
            <mat-spinner [strokeWidth]=5 [diameter]=70></mat-spinner>
        </div>
        <img *ngIf="imgReversoUrl !== '' && !cargandoImagenReverso" [src]="imgReversoUrl" alt="Imagen Producto" class="imagen-view" accept="image/jpeg,image/png,image/jpg">
        <div>
            <button type="button" (click)="quitarImagenReverso()" mat-icon-button style="position: absolute; top: 10px; right: 10px;">
                <mat-icon *ngIf="imgReversoUrl !== '' && !cargandoImagenReverso" style="cursor: pointer; color: rgb(220,53,69);">delete</mat-icon>
            </button>
        </div>
        <h4 *ngIf="imgReversoUrl === '' && !cargandoImagenReverso" style="margin-bottom: 10px; text-align: center;">{{ textoImagen }}</h4>
    </div>
    <mat-divider></mat-divider>
    <br>
    <div class="row">
        <div class="col">
            <button mat-raised-button type="button" color="accent" class="input" (click)="return()">Regresar</button>
        </div>
        <div class="col">
            <button mat-raised-button [disabled]="signupForm.invalid && frontalImagenForm.invalid && reversoImagenForm.invalid" (click)="enviar()" color="primary" class="input">Enviar</button>
        </div>
    </div>
</mat-card>