.add-button {
    position: fixed;
    display: inline-block;
    bottom:5%;
    right: 5%;
}

mat-paginator{
    max-width: max-content;
    margin: 0 auto;
    background-color: rgba($color: #FFF, $alpha: 0);
}
.header h1{
  text-align: center;
}

.table-container{
  margin: 0 10%;
  margin-bottom: 5%;
}
