<mat-dialog-content>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div>
            <input type="hidden" formControlName="id"> 
            <mat-error>
                <ng-container *ngIf="nombreControl.errors?.required">
                    El nombre es requerido.
                </ng-container>
                <ng-container *ngIf="nombreControl.errors?.minlength">
                    Debe ingresar al menos 3 caracteres.
                </ng-container>
                <ng-container *ngIf="nombreControl.errors?.maxlength">
                    El nombre no debe sobrepasar los 100 caracteres.
                </ng-container>
            </mat-error>
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="nombre">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Categoria de pertenencia</mat-label>
                <input type="text"
                    placeholder="Ingresa o busca una categoria..."
                    matInput
                    formControlName="categoria_id"
                    [matAutocomplete]="categoria">
                    <mat-autocomplete
                    #categoria="matAutocomplete" 
                    [displayWith]="displayFn">
                        <mat-option 
                        *ngFor="let cat of filteredCategories | async" 
                        [value]="cat">
                        {{cat.nombre}}
                        </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Descripcion</mat-label>
                <input matInput type="text" formControlName="descripcion">
            </mat-form-field>
        </div>
      <button
        mat-button
        color="accent"
        cdkFocusInitial
        (click)="close()">
        Cancelar
      </button>
      <button
        type="submit"
        color="primary"
        mat-raised-button
        (click)="onSubmit()"
        [disabled]="formGroup.invalid">
        Guardar
      </button>
    </form>
    </mat-dialog-content>
    