@import 'variables';

.card-container{
  max-height: 99.5%;
  max-width: 90%;
 }

 mat-list{
   padding-top: 0;
 }

 mat-card:hover{
   background-color: $hover-white;
   cursor: pointer;
 }

 mat-card-title, mat-card-content, img{
   margin-bottom: 0;
 }