@import 'variables';

.card-container{
  max-height: 100%;
  max-width: 100%;
 }

 mat-card{
  margin: 15px 0.5vw
 }

 mat-list{
   padding-top: 0;
 }

 mat-card:hover{
   background-color: $hover-white;
   cursor: pointer;
 }

 mat-card-title, mat-card-content, img{
   margin-bottom: 0;
 }
