<div class="card-container" #main>
  <mat-card
  matTooltipPosition="above"
  [matTooltip]="productoInput.descripcion_producto"
  >
    <mat-card-title>
      <ng-container *ngIf="hasImage;">
        <img mat-card-image src="{{productoInput?.imagen}}" alt="{{productoInput?.nombre_producto}} - {{productoInput?.descripcion_producto}}">
      </ng-container>
      <ng-container *ngIf="!hasImage;">
        <img mat-card-image src="{{placeholderProductImage}}" alt="{{productoInput?.nombre_producto}} - {{productoInput?.descripcion_producto}}">
      </ng-container>
    </mat-card-title >
    <mat-card-content>
      <mat-list>
          <mat-list-item>
            <h3 matLine> {{productoInput?.nombre_producto}} </h3>
            <p matLine>
              <span> $ {{productoInput?.precio}} </span>
            </p>
            <p matLine>
              <bar-rating [(rate)]="calificacionProducto" [max]="5"></bar-rating>
            </p>
          </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button
        mat-icon-button
        color="primary"
        aria-label="Agregar al carrito de compras"
        (click)="shoppingCartHandler($event)"
        >
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
