<mat-card class="card animate__animated animate__fadeInLeft animate__faster">
    <div class="example-container">
        <h1 class="title">INICAR SESIÓN</h1>
        <mat-divider></mat-divider>
        <br>
        <mat-form-field appearance="fill" class="input">
            <mat-label>Ingrese email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{ getErrorEmailMessage() }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="input">
            <mat-label>Ingrese password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.invalid">{{ getErrorPassMessage() }}</mat-error>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" class="input">Enviar</button>

        <button mat-raised-button color="accent" class="input" style="margin-top: 10px;" (click)="signup()">Crear Nueva Cuenta</button>
    </div>
    <div class="link">
        <a routerLink='/autentication/forgot'>Olvidé mi contraseña</a>
    </div>
</mat-card>