<form [formGroup]="formGroup">
  <mat-grid-list cols="2" rowHeight="341.5:70.13">
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Ingresa su DUI</mat-label>
        <input matInput placeholder="00000000-0" formControlName="dui" required>
        <mat-error *ngIf="duiControl.invalid">{{getErrorMessage(duiControl)}}</mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Ingresa su nit</mat-label>
        <input matInput placeholder="0000-000000-000-0" formControlName="nit" required>
        <mat-error *ngIf="nitControl.invalid">{{getErrorMessage(nitControl)}}</mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Ingresa su afp</mat-label>
        <input matInput placeholder="Calle Martínez" formControlName="afp" required>
        <mat-error *ngIf="afpControl.invalid">{{getErrorMessage(afpControl)}}</mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Ingresa su isss</mat-label>
        <input matInput placeholder="Soltero/a" formControlName="isss" required>
        <mat-error *ngIf="isssControl.invalid">{{getErrorMessage(isssControl)}}</mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</form>
