.card {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    width: 60%;
}

.title {
    font-weight: bold;
}

.input {
    width: 100%;
}

.row {
    display: flex;
}

.col {
    width: 50%;
    margin-right: 10px;
}

.example-container {
    margin: 10px;
    text-align: center;
}