@import 'variables';
.mat-card{
    max-width: 225px;
    min-width: 225px;
}

mat-card:hover{
    background-color: $hover-white;
    cursor: pointer;
}

.mat-grid-tile a{
    text-decoration: none;
}
