<mat-card style="position: relative;">
    <mat-form-field class="example-form-field" appearance="fill" style="position: absolute; right: 10px; top: 10px; width: 18vw;">
        <mat-label>Buscar</mat-label>
        <input matInput type="text">
        <button matSuffix mat-icon-button aria-label="Buscar">
          <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
    <mat-table [dataSource]="dataSource" style="margin-top: 40px;">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.estado}}</mat-cell>
        </ng-container>

        <!-- Departamento Column -->
        <ng-container matColumnDef="subtotal">
            <mat-header-cell *matHeaderCellDef>Subtotal</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">{{ element.subtotal }}</mat-cell>
        </ng-container>

        <!-- Departamento Column -->
        <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">{{ element.total }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row [class.demo-row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <app-paginator [urlData]="url" [params]="params" [inputPaginator]="inputPaginator" (pageDataChange$)="addDataToTable($event)"></app-paginator>
</mat-card>
