<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

        <!-- Position Column -->
        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let producto"> {{producto.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let producto"> {{producto.nombre_producto}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Descripción">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let producto"> {{producto.descripcion_producto}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Precio">
            <th mat-header-cell *matHeaderCellDef> Precio </th>
            <td mat-cell *matCellDef="let producto"> {{producto.precio}} </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button (click)="quitarProducto(element)" style="margin-right: 5px; cursor: pointer;" mat-icon-button color="primary" aria-label="delete_icon">
                    <mat-icon>delete</mat-icon>
                </button>
                <button (click)="seleccionarProducto(element)" style="margin-right: 5px; cursor: pointer;" mat-icon-button color="primary" aria-label="delete_icon">
                    <mat-icon>search</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row [class.demo-row-is-clicked]="filasSeleccionadas.has(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <app-paginator [urlData]="url" [params]="params" (pageDataChange$)="addDataToTable($event)"></app-paginator>

</div>