<mat-card class="card animate__animated animate__fadeInRight animate__faster">
    <form class="example-container" [formGroup]="resetForm" (ngSubmit)="enviar()">
        <h1 class="title">RECUPERAR CONTRASEÑA</h1>
        <mat-divider></mat-divider>
        <br>
        <!--Campo para Contraseña-->
        <mat-form-field appearance="outline" class="input">
            <mat-label>Ingrese Nueva Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="passwordNoValido">{{ getErrorPassMessage() }}</mat-error>
        </mat-form-field>
        <!--Campo para Confirmar Contraseña-->
        <mat-form-field appearance="outline" class="input">
            <mat-label>Confirmar Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password2">
            <button mat-icon-button type="button" matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password2NoValido">{{ getErrorConfirmPassMessage() }}</mat-error>
        </mat-form-field>
        <br>
        <div class="row">
            <div class="col">
                <button mat-raised-button type="button" color="accent" class="input" (click)="return()">Regresar</button>
            </div>
            <div class="col">
                <button mat-raised-button [disabled]="resetForm.invalid" color="primary" class="input">Enviar</button>
            </div>
        </div>
    </form>
</mat-card>