<h2 mat-dialog-title>Detalle de Orden</h2>
<mat-dialog-content>
    <form [formGroup]="ventaForm">
        <h3>
            <strong>Datos de Cliente</strong>
        </h3>
        <mat-divider></mat-divider>
        <mat-form-field class="input" appearance="fill">
            <mat-label>Nombres</mat-label>
            <input matInput formControlName="nombres" readonly>
        </mat-form-field>
        <mat-form-field class="input" appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input matInput formControlName="apellidos" readonly>
        </mat-form-field>
        <mat-form-field class="input" appearance="fill">
            <mat-label>Teléfono</mat-label>
            <input matInput formControlName="telefono" readonly>
        </mat-form-field>
        <mat-form-field class="input" appearance="fill">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="direccion" readonly>
        </mat-form-field>
        <h3>
            <strong>Datos de Orden</strong>
        </h3>
        <mat-divider></mat-divider>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>