@import '~@angular/material/theming';
.products-container{
    table-layout: fixed ;
    width: 100%;
}
.mat-card{
    min-height: 375px;
}
.products-container .mat-card:hover{
    background-color: mat-color($mat-gray,100);
}

th a{
    text-decoration: none;
}
