<mat-list>
  <mat-expansion-panel matLine>
    <mat-expansion-panel-header>Cambiar email</mat-expansion-panel-header>
    <sla-email></sla-email>
  </mat-expansion-panel>
  <mat-divider></mat-divider>
  <mat-expansion-panel matLine>
    <mat-expansion-panel-header>Cambiar contraseña</mat-expansion-panel-header>
    <sla-password></sla-password>
  </mat-expansion-panel>
  <mat-divider></mat-divider>
  <mat-expansion-panel matLine>
    <mat-expansion-panel-header>Seguridad a dos pasos</mat-expansion-panel-header>
    <sla-twofa></sla-twofa>
  </mat-expansion-panel>
  <mat-divider></mat-divider>
</mat-list>
config works
