.header h1{
    text-align: center;
}

.mat-table{
    margin: 0px auto;
}

.mat-cell {
    min-width: 100px;
    max-width: 350px;
    text-align: center;
}

.mat-header-cell {
    text-align: center;
}