<form
  [formGroup]="formGroup"
  (ngSubmit)="submitHandler()">
  <mat-form-field appearance="fill">
    <mat-label>Ingresa tu contraseña actual</mat-label>
    <input matInput placeholder="Contraseña actual" type="password" formControlName="oldPassword" required>
    <mat-error *ngIf="oldPasswordControl.invalid">{{getErrorMessage(oldPasswordControl)}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Ingresa tu nueva contraseña</mat-label>
    <input matInput placeholder="Nueva contraseña" type="password" formControlName="newPassword" required>
    <mat-error *ngIf="newPasswordControl.invalid">{{getErrorMessage(newPasswordControl)}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Confirma tu nueva contraseña</mat-label>
    <input matInput placeholder="Confirmar" type="password" formControlName="newPasswordConfirmation" required>
    <mat-error *ngIf="newPasswordConfirmationControl.invalid">{{getErrorMessage(newPasswordConfirmationControl)}}</mat-error>
  </mat-form-field>
  <button mat-button type="submit"><mat-icon>email</mat-icon>Cambiar correo</button>
</form>
