<form
  [formGroup]="formGroup"
  (ngSubmit)="submitHandler()">
  <mat-form-field appearance="fill">
    <mat-label>Ingresa tu nuevo correo</mat-label>
    <input matInput placeholder="example@sla.com" formControlName="new_email" required>
    <mat-error *ngIf="oldPasswordControl.invalid">{{getErrorMessage(oldPasswordControl)}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Ingresa tu nuevo correo</mat-label>
    <input matInput placeholder="example@sla.com" formControlName="new_email" required>
    <mat-error *ngIf="newPasswordControl.invalid">{{getErrorMessage(newPasswordControl)}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Confirma tu nuevo correo</mat-label>
    <input matInput placeholder="example@sla.com" formControlName="new_email_confirmation" required>
    <mat-error *ngIf="newPasswordConfirmationControl.invalid">{{getErrorMessage(newPasswordConfirmationControl)}}</mat-error>
  </mat-form-field>
  <button mat-button><mat-icon>email</mat-icon>Cambiar correo</button>
</form>
