@import 'variables';
mat-sidenav-container {
    min-height: 100vh;
}

mat-list a {
    text-decoration: none;
}

mat-list-base{
  padding: 0 3vw 0 1.5vw;
}

mat-list-item:hover {
    background-color: $hover-white;
}

mat-sidenav h1 {
    margin: 20px;
}

mat-toolbar {
  justify-content: space-between;
  align-items: center;
}

mat-toolbar a {
  text-decoration: none;
  color: #FFF; //mat-color($mat-gray,100);
  align-items: center;
}

.white-icon {
    color: white;
}

.toolbar-items-left{
  display: flex;
}

.toolbar-item-left{
  display: flex;
  margin-left: 1vw;
}

.toolbar-items-right{
  display: flex;
}

.logo-img{
    max-height:7vh;
    width: auto;
}


.titulo-navbar{
    display: flex;
    color: $primary;
    font-family: mat-font-family($title-sla-ng-typography) !important;
    justify-content: center;
    width: 100%;
    font-size: 5.5vh !important;
    font-weight: 800;
}

.example-spacer {
    flex: 1 1 auto;
}
