<mat-toolbar color="accent">
    <button 
        mat-icon-button 
        aria-label="Menú"
        (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/']"><span>{{title}}</span></a>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav 
        [opened]="false"
        [mode]="'side'"
        role="directory"
        #sidenav>
        <h1> Categorías </h1>        
        <mat-list>
            <ng-container *ngFor="let cat of categorias">
                <a [routerLink]="['/categoria', cat.id]">
                <mat-list-item>
                  <h3 matLine> {{cat?.nombre}} </h3>
                </mat-list-item>
                </a>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-list>

    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>