@import 'variables';
mat-sidenav-container {
    min-height: 100%;
}

mat-list a {
    text-decoration: none;
}

mat-list-item:hover {
    background-color: $hover-white;
}

mat-sidenav h1 {
    margin: 20px;
}

mat-toolbar a {
    text-decoration: none;
    color: #FFF; //mat-color($mat-gray,100);
}

.white-icon {
    color: white;
}

.logo-link{
    display: flexbox;
}

.logo-img{
    max-height:10vh;
    width: auto;
    display: inline-flex;
    vertical-align:middle;
    margin-right: 10px;
}


.titulo-navbar{
    display: inline-flex;
    vertical-align:middle;
}

.example-spacer {
    flex: 1 1 auto;
}
