<mat-toolbar color="accent">
    <button 
        mat-icon-button 
        aria-label="Menú"
        (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav 
        [opened]="true"
        [mode]="'side'"
        role="directory"
        #sidenav>
        
        <mat-list>
            <ng-container *ngFor="let cat of categorias">
                <mat-list-item>
                  <h3 matLine> {{cat?.nombre}} </h3>
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-list>

    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>