<h2 mat-dialog-title>Crear Planilla</h2>
<mat-dialog-content>
    <form [formGroup]='createPlanillaForm'>
        <mat-form-field class="input" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre Planilla" formControlName='nombre'>
            <mat-error *ngIf="nombreNoValido"> {{ getErrorNombreMessage() }} </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="input">
            <mat-label>Fecha de Planilla</mat-label>
            <input matInput formControlName="fecha" [matDatepicker]="picker">
            <mat-error *ngIf="fechaNoValido"> {{ getErrorFechaMessage() }} </mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Cerrar</button>
    <button mat-button color='primary' (click)="crearPlanilla()" [disabled]="createPlanillaForm.invalid">Guardar</button>
</mat-dialog-actions>