<mat-table [dataSource]="dataSource" class="table-empleado">
  <!-- Columna ID -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let empleado"> {{empleado.id}} </mat-cell>
  </ng-container>

    <!-- Columna de nombres -->
  <ng-container matColumnDef="nombres">
    <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let empleado"> {{empleado.nombres}} </mat-cell>
  </ng-container>

    <!-- Cplumna de descripciones -->
  <ng-container matColumnDef="apellidos">
    <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
    <mat-cell *matCellDef="let empleado"> {{empleado.apellidos}} </mat-cell>
  </ng-container>

    <!-- Cplumna de descripciones -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
      <mat-cell *matCellDef="let empleado"> {{empleado.email}} </mat-cell>
    </ng-container>

    <!-- Botones de acciones -->
  <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let empleado">
      <button mat-icon-button *ngxPermissionsOnly="['empleados.update']" color="primary" (click)="updateEmpleadoEvent.emit(empleado)"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button *ngxPermissionsOnly="['empleados.destroy']" color="primary" (click)="removeEmpleadoEvent.emit(empleado.id)"><mat-icon>delete</mat-icon></button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
  <mat-row (click)="viewEmpleadoEvent.emit(row.id)" *matRowDef="let row; columns: columnas;" matRipple></mat-row>
</mat-table>
